@font-face{
   font-family: 'RB';
   src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
   font-family: 'RB-light';
   src: url(../fonts/Roboto-Light.ttf);
}
@font-face{
   font-family: 'RB-bold';
   src: url(../fonts/Roboto-Bold_0.ttf);
}